@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit.woff2") format("woff2"), url("../fonts/Outfit.woff") format("woff"), url("../fonts/Outfit.ttf") format('"ttf"');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit.woff2") format("woff2"), url("../fonts/Outfit.woff") format("woff"), url("../fonts/Outfit.ttf") format('"ttf"');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit.woff2") format("woff2"), url("../fonts/Outfit.woff") format("woff"), url("../fonts/Outfit.ttf") format('"ttf"');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit.woff2") format("woff2"), url("../fonts/Outfit.woff") format("woff"), url("../fonts/Outfit.ttf") format('"ttf"');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit.woff2") format("woff2"), url("../fonts/Outfit.woff") format("woff"), url("../fonts/Outfit.ttf") format('"ttf"');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit.woff2") format("woff2"), url("../fonts/Outfit.woff") format("woff"), url("../fonts/Outfit.ttf") format('"ttf"');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit.woff2") format("woff2"), url("../fonts/Outfit.woff") format("woff"), url("../fonts/Outfit.ttf") format('"ttf"');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}