@charset "UTF-8";
@font-face {
  font-family: "Outfit";
  font-weight: 300;
  font-style: normal;
  src: url("../../fonts/Outfit-Light/Outfit-Light.eot");
  src: url("../../fonts/Outfit-Light/Outfit-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/Outfit-Light/Outfit-Light.woff2") format("woff2"), url("../../fonts/Outfit-Light/Outfit-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Outfit";
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/Outfit-Regular/Outfit-Regular.eot");
  src: url("../../fonts/Outfit-Regular/Outfit-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Outfit-Regular/Outfit-Regular.woff2") format("woff2"), url("../../fonts/Outfit-Regular/Outfit-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Outfit";
  font-weight: 500;
  font-style: normal;
  src: url("../../fonts/Outfit-Medium/Outfit-Medium.eot");
  src: url("../../fonts/Outfit-Medium/Outfit-Medium.eot?#iefix") format("embedded-opentype"), url("../../fonts/Outfit-Medium/Outfit-Medium.woff2") format("woff2"), url("../../fonts/Outfit-Medium/Outfit-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Outfit";
  font-weight: 600;
  font-style: normal;
  src: url("../../fonts/Outfit-Semibold/Outfit-Semibold.eot");
  src: url("../../fonts/Outfit-Semibold/Outfit-Semibold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Outfit-Semibold/Outfit-Semibold.woff2") format("woff2"), url("../../fonts/Outfit-Semibold/Outfit-Semibold.ttf") format("truetype");
}
@font-face {
  font-family: "Outfit";
  font-weight: 700;
  font-style: normal;
  src: url("../../fonts/Outfit-Bold/Outfit-Bold.eot");
  src: url("../../fonts/Outfit-Bold/Outfit-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Outfit-Bold/Outfit-Bold.woff2") format("woff2"), url("../../fonts/Outfit-Bold/Outfit-Bold.ttf") format("truetype");
}
body {
  background-color: #181818;
  color: #FFFFFF;
  margin: 0 auto;
  text-align: center;
  z-index: 1;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

section {
  padding-bottom: 100px;
  border: none;
  outline: none;
  margin: 0;
}

.content {
  margin-top: 60px; /* Учитывает высоту фиксированного header */
  padding: 20px;
}

.hide {
  display: none;
}

.contact__btn {
  position: relative;
  overflow: hidden;
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.contact__btn:hover {
  background-color: #000;
  outline: 1px solid #954CED;
}

.contact__btn::after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: translate(-100%) rotate(10deg);
      -ms-transform: translate(-100%) rotate(10deg);
          transform: translate(-100%) rotate(10deg);
  -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
          transform-origin: top left;
  -webkit-transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease, fill 0.2s ease, -webkit-transform 0.2s ease-in-out;
  transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease, fill 0.2s ease, -webkit-transform 0.2s ease-in-out;
  transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease, fill 0.2s ease, transform 0.2s ease-in-out;
  transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease, fill 0.2s ease, transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  will-change: transform;
  z-index: -1;
  border-radius: 80em;
  background-color: #e6ff00;
}

.contact__btn::after:hover {
  -webkit-transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease, fill 0.2s ease, -webkit-transform 0.2s ease-in-out;
  transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease, fill 0.2s ease, -webkit-transform 0.2s ease-in-out;
  transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease, fill 0.2s ease, transform 0.2s ease-in-out;
  transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease, fill 0.2s ease, transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.contact__btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contact__btn:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 60px;
}
@media (max-width: 640px) {
  .container {
    padding: 0 16px;
  }
}

.contact__btn {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
  border-radius: 16px;
  background: #954CED;
  color: #FFFFFF;
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.incline__text {
  color: #FFFFFF;
  text-align: center;
  font-family: Outfit;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: relative;
}

header {
  background: #FFAA4C;
  margin-bottom: 7px;
}
@media (max-width: 640px) {
  header .container {
    padding: 0;
  }
}

.navbar {
  color: #181818;
  background-color: none;
}
.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}
@media (max-width: 640px) {
  .navbar__list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
.navbar__item {
  color: #181818;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 9px 40px;
  border-radius: 20px 20px 0px 0px;
}
.navbar__item--active {
  background: #181818;
  text-align: center;
  color: #FFFFFF;
  background-color: #181818;
}

.menu {
  display: none;
}

@media (max-width: 640px) {
  .hero {
    padding-bottom: 40px;
  }
}
.hero__logo {
  cursor: pointer;
}
.hero__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 640px) {
  .hero__top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 16px;
  }
}
.hero__title {
  text-align: start;
  max-width: 671px;
  color: #FFFFFF;
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  font-family: Outfit;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 106%;
  margin-bottom: 20px;
}
@media (max-width: 740px) {
  .hero__title {
    font-size: 64px;
  }
}
@media (max-width: 540px) {
  .hero__title {
    font-size: 40px;
  }
}
.hero__text {
  max-width: 534px;
  text-align: start;
  color: #FFFFFF;
  margin-bottom: 40px;
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
@media (max-width: 740px) {
  .hero__text {
    font-size: 16px;
  }
}
.hero__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 75px;
}
@media (max-width: 1440px) {
  .hero__bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 640px) {
  .hero__button {
    display: none;
  }
}
@media (max-width: 1440px) {
  .hero__button-bottom {
    width: 100%;
    margin-bottom: 137px;
  }
}
.hero__container {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 1400px) {
  .hero__container {
    max-width: 940px;
  }
}
.hero__content {
  margin-left: 100px;
}
@media (max-width: 1440px) {
  .hero__content {
    margin-left: 0;
  }
}
.hero__image {
  max-width: 100%;
  max-height: 100%;
}
@media (max-width: 740px) {
  .hero__image {
    position: relative;
    right: -20px;
  }
}

@media (max-width: 640px) {
  .about {
    padding-bottom: 40px;
  }
}
.about__text {
  z-index: 4;
}
.about__container {
  max-width: 1440px;
  margin: 0 auto;
}
@media (max-width: 440px) {
  .about__container {
    margin-left: 16px;
    max-width: 286px;
  }
}
.about__payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 640px) {
  .about__payment {
    margin-left: 16px;
    max-width: 286px;
    margin-top: 40px;
  }
}
@media (max-width: 440px) {
  .about__payment {
    margin: 0;
    margin-top: 40px;
  }
}
.about__title {
  margin-left: 60px;
  text-align: start;
  color: #FFFFFF;
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  margin-bottom: 80px;
  font-family: Outfit;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 106%;
}
@media (max-width: 1200px) {
  .about__title {
    text-align: center;
  }
}
@media (max-width: 640px) {
  .about__title {
    font-size: 40px;
    text-align: start;
    margin: 0 0 0 16px;
  }
}
.about__item {
  max-width: 321px;
  text-align: left;
}
@media (max-width: 640px) {
  .about__item {
    width: 301px;
  }
}
.about__text {
  position: relative;
  color: #FFFFFF;
  text-align: center;
  font-family: Outfit;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: inline-block;
  z-index: 2;
}
@media (max-width: 640px) {
  .about__text {
    text-align: start;
    font-size: 24px;
  }
}
.about__text::after {
  z-index: -1;
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 333.394px;
  height: 34.438px;
  -webkit-transform: rotate(-1.693deg);
      -ms-transform: rotate(-1.693deg);
          transform: rotate(-1.693deg);
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 30px;
  background: #A64CED;
  margin-top: 3px;
  -webkit-text-stroke: 2px #e74c3c;
}
@media (max-width: 640px) {
  .about__text::after {
    width: 233px;
    height: 22px;
    line-height: 120%;
  }
}
.about__description {
  display: block;
  max-width: 397px;
  text-align: start;
  color: #FFFFFF;
  font-family: Outfit;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media (max-width: 1200px) {
  .about__description {
    margin-bottom: 40px;
  }
}
@media (max-width: 640px) {
  .about__description {
    font-size: 24px;
  }
}
.about__item--title {
  color: #FFFFFF;
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  text-align: start;
  /* Title/T4_Bold_48 */
  font-family: Outfit;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 106%; /* 50.88px */
  margin-bottom: 20px;
}
@media (max-width: 1200px) {
  .about__item--title {
    font-size: 36px;
  }
}
.about__item--img {
  margin-bottom: 10px;
  text-align: start;
  margin-left: 0;
}
.about__item-text {
  text-align: start;
  color: #FFFFFF;
  font-family: Outfit;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
@media (max-width: 640px) {
  .about__item-text {
    font-size: 16px;
  }
}
.about__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1320px;
  padding: 0 60px;
}
@media (max-width: 1200px) {
  .about__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 640px) {
  .about__wrap {
    padding: 0 0;
    margin: 0 auto;
  }
}
@media (max-width: 440px) {
  .about__wrap {
    margin: 0;
  }
}
.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 1200px) {
  .about__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
}
.about__item:nth-child(-n+2) {
  margin-bottom: 70px;
}
.about__item:last-child {
  margin-bottom: 36px;
}
.about__logo {
  position: relative;
  left: -60px;
}
@media (max-width: 1200px) {
  .about__logo {
    display: none;
  }
}

@media (max-width: 640px) {
  .how {
    padding-bottom: 40px;
  }
}
.how__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}
@media (max-width: 540px) {
  .how__phone {
    max-width: 100%;
    padding: 0 40px;
  }
}

.result {
  text-align: start;
  padding: 40px 0;
  background: #954CED;
}
.result__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
@media (max-width: 640px) {
  .result__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.result__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 100px;
}
@media (max-width: 640px) {
  .result__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
}
.result__item:last-child {
  margin-right: 0;
}
.result__percent {
  color: #FFFFFF;
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  /* Title/T3_Bold_64 */
  font-family: Outfit;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 106%; /* 67.84px */
  margin-bottom: 16px;
}
@media (max-width: 640px) {
  .result__percent {
    margin-right: 20px;
    font-size: 40px;
  }
}
@media (max-width: 375px) {
  .result__percent {
    margin-right: 20px;
    font-size: 36px;
  }
}
.result__text {
  color: #FFFFFF;
  font-family: Outfit;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 28.8px */
}
@media (max-width: 440px) {
  .result__text {
    font-size: 20px;
  }
}
@media (max-width: 375px) {
  .result__text {
    font-size: 16px;
  }
}

.why {
  padding-top: 100px;
  background-color: #181818;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
@media (max-width: 640px) {
  .why {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.why__item-title {
  color: #000;
  font-family: Outfit;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media (max-width: 740px) {
  .why__item-title {
    font-size: 32px;
    padding-top: 20px;
    margin-bottom: 5px;
  }
}
.why__item-text {
  color: #000;
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.why__content {
  max-width: 362px;
  margin-left: auto;
  margin-right: 40px;
  margin-top: 40px;
  margin-bottom: 50px;
  text-align: start;
}
.why__item-text {
  margin: 20px 0;
}
.why__title {
  color: #FFFFFF;
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  margin-bottom: 20px;
  font-family: Outfit;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 106%;
}
@media (max-width: 740px) {
  .why__title {
    font-size: 40px;
  }
}
@media (max-width: 540px) {
  .why__title {
    max-width: 280px;
  }
}
@media (max-width: 740px) {
  .why__title {
    font-size: 32px;
    padding-top: 20px;
    margin-bottom: 5px;
  }
}
.why__description {
  color: #FFFFFF;
  text-align: center;
  font-family: Outfit;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media (max-width: 740px) {
  .why__description {
    font-size: 24px;
    text-align: center;
  }
}
@media (max-width: 540px) {
  .why__description {
    text-align: start;
  }
}
@media (max-width: 375px) {
  .why__description {
    text-align: center;
  }
}
.why__incline {
  margin: 0 auto;
  width: 386.483px;
  height: 34.438px;
  -webkit-transform: rotate(-1.631deg);
      -ms-transform: rotate(-1.631deg);
          transform: rotate(-1.631deg);
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 30px;
  background: #A64CED;
}
.why__incline--text {
  position: relative;
  color: #FFFFFF;
  text-align: center;
  /* Subtitle/S1_SemiBold_36 */
  font-family: Outfit;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: inline-block;
  z-index: 2;
  margin-top: 5px;
  margin-bottom: 70px;
}
@media (max-width: 740px) {
  .why__incline--text {
    font-size: 24px;
    text-align: start;
  }
}
.why__incline--text::after {
  z-index: -1;
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 386.483px;
  height: 34.438px;
  -webkit-transform: rotate(-1.631deg);
      -ms-transform: rotate(-1.631deg);
          transform: rotate(-1.631deg);
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 30px;
  background: #A64CED;
  margin-top: 3px;
  -webkit-text-stroke: 2px #e74c3c; /* Ширина и цвет обводки текста для веб-кит браузеров (Chrome, Safari) */
}
@media (max-width: 740px) {
  .why__incline--text::after {
    height: 21px;
    width: 243px;
    text-align: start;
  }
}
.why__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 362px;
}
@media (max-width: 1400px) {
  .why__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 740px) {
  .why__items {
    margin: 0 auto;
  }
}
.why__item {
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-image: url("../img/why1.png");
  width: 733px;
}
@media (max-width: 1400px) {
  .why__item {
    width: 547px;
  }
}
@media (max-width: 740px) {
  .why__item {
    background-image: url("../img/whym1.png");
    max-width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }
}
.why__image {
  display: block;
  margin-right: 0;
}
@media (max-width: 740px) {
  .why__item:nth-child(1) {
    min-height: 362px;
  }
}
.why__item:nth-child(2) {
  background-image: url("../img/why2.png");
  width: 533px;
}
.why__item:nth-child(2) div {
  margin-left: 40px;
  max-width: 416px;
}
@media (max-width: 740px) {
  .why__item:nth-child(2) div {
    margin: 0;
    height: 333px;
  }
}
.why__item:nth-child(2) p {
  max-width: 308px;
}
@media (max-width: 1400px) {
  .why__item:nth-child(2) {
    width: 547px;
    background-image: contain;
  }
}
@media (max-width: 740px) {
  .why__item:nth-child(2) {
    height: 333px;
    background-image: url("../img/whym2.png");
  }
}
.why__item:nth-child(3) {
  width: 547px;
  margin-bottom: 0;
  background-image: url("../img/why3.png");
}
.why__item:nth-child(3) div {
  margin-left: 40px;
  max-width: 440px;
}
@media (max-width: 740px) {
  .why__item:nth-child(3) div {
    margin: 0;
    height: 313px;
  }
}
.why__item:nth-child(3) p {
  max-width: 308px;
}
@media (max-width: 1400px) {
  .why__item:nth-child(3) {
    width: 547px;
  }
}
@media (max-width: 1200px) {
  .why__item:nth-child(3) {
    margin-bottom: 20px;
  }
}
@media (max-width: 740px) {
  .why__item:nth-child(3) {
    background-image: url("../img/whym3.png");
  }
}
.why__item:nth-child(4) {
  width: 733px;
  margin-bottom: 0;
  background-image: url("../img/why4.png");
}
.why__item:nth-child(4) div {
  margin-left: 40px;
  max-width: 402px;
}
@media (max-width: 740px) {
  .why__item:nth-child(4) div {
    margin: 0;
    height: 333px;
  }
}
@media (max-width: 1400px) {
  .why__item:nth-child(4) {
    width: 547px;
  }
}
@media (max-width: 740px) {
  .why__item:nth-child(4) {
    background-image: url("../img/whym4.png");
    height: 395px;
  }
}
@media (max-width: 740px) {
  .why__content {
    max-width: 305px;
    padding: 0 18px;
    height: 333px;
  }
}
@media (max-width: 740px) {
  .why__item {
    max-width: 345px;
  }
}
@media (max-width: 375px) {
  .why__item {
    max-width: 250px;
  }
}
@media (max-width: 740px) {
  .why__item div {
    margin: 0;
  }
}
@media (max-width: 740px) {
  .why__item-text {
    font-size: 16px;
    margin: 0;
  }
}

.CTA {
  background-color: #fff;
  padding-top: 100px;
}
@media (max-width: 640px) {
  .CTA {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.CTA__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 60px;
  border: 1px solid #CFCFCF;
  color: #000;
  color: #000;
  text-align: center;
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  /* Title/T3_Bold_64 */
  font-family: Outfit;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 106%; /* 67.84px */
}
@media (max-width: 640px) {
  .CTA__content {
    padding: 0 20px;
  }
}
.CTA__title {
  margin: 60px 0 40px;
}
@media (max-width: 640px) {
  .CTA__title {
    font-size: 40px;
  }
}
.CTA__btn {
  margin-bottom: 60px;
}
@media (max-width: 640px) {
  .CTA__btn {
    width: 100%;
    font-size: 20px;
  }
}

.brand {
  background-color: #FFFFFF;
}
@media (max-width: 640px) {
  .brand {
    padding-bottom: 40px;
  }
}
.brand__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1200px) {
  .brand__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.brand__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 45px 0;
}
@media (max-width: 1200px) {
  .brand__media {
    min-height: 160px;
  }
}
.brand__img {
  margin-right: 40px;
}
@media (max-width: 540px) {
  .brand__img {
    margin-right: 24px;
  }
}
@media (max-width: 540px) {
  .brand__img {
    width: 64px;
    height: 64px;
  }
}
.brand__img:nth-child(2n) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.brand__img:last-child {
  margin-right: 0px;
}
.brand__text {
  text-align: start;
}
.brand__title {
  text-align: start;
  max-width: 822px;
  color: #000;
  font-family: Outfit;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 106%;
  margin-bottom: 20px;
}
@media (max-width: 1200px) {
  .brand__title {
    font-size: 56px;
    text-align: center;
  }
}
@media (max-width: 640px) {
  .brand__title {
    font-size: 56px;
    text-align: start;
  }
}
.brand__description {
  max-width: 537px;
  color: #000;
  /* Subtitle/S6_Regular_20 */
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
}
@media (max-width: 1200px) {
  .brand__description {
    margin: 0 auto;
  }
}

.footer__predict {
  display: none;
}
@media (max-width: 480px) {
  .footer__predict {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1200px) {
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 480px) {
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
.footer__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 780px) {
  .footer__btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer__btn:not(:last-child) {
  margin-right: 40px;
  height: 57px;
}
@media (max-width: 780px) {
  .footer__btn:not(:last-child) {
    margin: 0;
    margin-bottom: 20px;
  }
}
.footer__btn {
  margin: 0 auto;
}
@media (max-width: 780px) {
  .footer__btn {
    margin: 0;
  }
}
@media (max-width: 480px) {
  .footer__btn:first-child {
    margin-bottom: 40px;
    margin-top: 20px;
  }
}
@media (max-width: 480px) {
  .footer__client {
    font-size: 20px;
    font-family: Outfit;
    font-weight: 500;
    margin-bottom: 16px;
  }
}
.footer__client:last-child {
  margin-left: 40px;
}
@media (max-width: 480px) {
  .footer__client:last-child {
    margin: 0;
  }
}
.footer__content {
  margin: 40px 0 30px;
}
@media (max-width: 1200px) {
  .footer__list {
    padding: 20px 0;
  }
}
@media (max-width: 480px) {
  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.logos {
  background-color: #FFFFFF;
}
@media (max-width: 640px) {
  .logos {
    padding-bottom: 40px;
  }
}
.logos__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1200px) {
  .logos__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 120px;
  }
}
@media (max-width: 640px) {
  .logos__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 220px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
@media (max-width: 375px) {
  .logos__items {
    height: 300px;
  }
}
.logos__img {
  height: 60px;
}
@media (max-width: 1000px) {
  .logos__img {
    height: 42px;
  }
}
.logos__img:nth-child(1) {
  max-width: 126px;
}
@media (max-width: 1000px) {
  .logos__img:nth-child(1) {
    max-width: 91px;
  }
}
@media (max-width: 640px) {
  .logos__img:nth-child(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    max-width: 91px;
    margin-bottom: 30px;
  }
}
.logos__img:nth-child(2) {
  max-width: 209px;
}
@media (max-width: 1000px) {
  .logos__img:nth-child(2) {
    max-width: 149px;
  }
}
@media (max-width: 640px) {
  .logos__img:nth-child(2) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    max-width: 149px;
    margin-bottom: 30px;
  }
}
.logos__img:nth-child(3) {
  max-width: 182px;
}
@media (max-width: 1000px) {
  .logos__img:nth-child(3) {
    max-width: 131px;
  }
}
@media (max-width: 640px) {
  .logos__img:nth-child(3) {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    max-width: 131px;
    margin-bottom: 30px;
  }
}
.logos__img:nth-child(4) {
  max-width: 277px;
}
@media (max-width: 1000px) {
  .logos__img:nth-child(4) {
    max-width: 196px;
  }
}
@media (max-width: 640px) {
  .logos__img:nth-child(4) {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    max-width: 196px;
  }
}
.logos__img:nth-child(5) {
  max-width: 184px;
}
@media (max-width: 1000px) {
  .logos__img:nth-child(5) {
    max-width: 128px;
  }
}
@media (max-width: 640px) {
  .logos__img:nth-child(5) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    max-width: 128px;
  }
}

.copyright {
  color: #B9B9B9;
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 2px solid #444444;
}
.copyright__item {
  margin-left: 20px;
  color: #B9B9B9;
  text-align: right;
  /* Body/B6_Light_14_Underline */
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%; /* 19.6px */
  text-decoration-line: underline;
}
@media (max-width: 480px) {
  .copyright__items {
    display: none;
  }
}

.modal {
  z-index: 99;
  position: fixed;
  left: 50%;
  margin-left: -167px;
  top: 10%;
}
@media (max-width: 640px) {
  .modal {
    margin-left: -187px;
  }
}
@media (max-width: 440px) {
  .modal {
    margin-left: -152px;
    top: 5%;
    width: 305px;
  }
}
.modal__phone-img {
  position: relative;
  top: -32px;
  left: 16px;
}
.modal__error {
  color: #EC1211;
  /* Body/B7_Regular_12 */
  font-family: Outfit;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
  display: none;
}
.modal__required {
  color: #EC1211;
  /* Body/B7_Regular_12 */
  font-family: Outfit;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
}
.modal__form {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 337px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #FFFFFF;
  color: #000;
  padding: 40px;
  border-radius: 20px;
  background: #FFFFFF;
}
@media (max-width: 440px) {
  .modal__form {
    margin: 0;
    width: 305px;
    padding: 20px;
  }
}
.modal__label {
  color: #181818;
  /* Body/B3_Medium_14 */
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 157.143% */
  margin-top: 10px;
}
.modal__label:last-child {
  margin-bottom: 0;
}
.modal__input {
  border-radius: 14px;
  border: 1px solid #F5F5F5;
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  padding: 0px 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  margin-bottom: 4px;
}
.modal .input__required {
  outline: 1px solid #EC1211;
}
.modal .modal__input:focus {
  outline: 1px solid #181818;
}
.modal__close {
  margin-left: auto;
  cursor: pointer;
  position: absolute;
  left: auto;
  right: 20px;
  top: 20px;
}
.modal__phone {
  padding-left: 40px;
}
.modal__text {
  color: #000;
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%; /* 19.6px */
  text-align: start;
  margin: 20px 0;
}
.modal__link {
  color: #A64CED;
  /* Body/B6_Light_14_Underline */
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  text-decoration-line: underline;
}
.modal__btn {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
  border-radius: 16px;
  background: #954CED;
  color: #FFFFFF;
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 16px;
  background: #B9B9B9;
}
@media (max-width: 440px) {
  .modal__btn {
    width: 100%;
  }
}

.thank {
  z-index: 99;
  position: absolute;
  left: 50%;
  margin-left: -187px;
  top: 10%;
}
@media (max-width: 640px) {
  .thank {
    margin-left: -210px;
  }
}
@media (max-width: 440px) {
  .thank {
    margin-left: -187px;
    padding: 0 16px;
  }
}
@media (max-width: 375px) {
  .thank {
    margin-left: -157px;
    padding: 0 8px;
  }
}
.thank__btn {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
  border-radius: 16px;
  background: #954CED;
  color: #B9B9B9;
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 16px;
}
.thank__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 337px;
  padding: 40px;
  border-radius: 20px;
  background: #FFFFFF;
}
@media (max-width: 440px) {
  .thank__content {
    max-width: 295px;
    padding: 20px;
  }
}
@media (max-width: 375px) {
  .thank__content {
    padding: 8px;
  }
}
.thank__close {
  margin-left: auto;
  cursor: pointer;
}
.thank__img {
  width: 248px;
  height: 205px;
  text-align: center;
  margin: 0 auto;
}
.thank__grad {
  margin: 21px 0;
  color: #A64CED;
  text-align: center;
  /* Subtitle/S1_SemiBold_36 */
  font-family: Outfit;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.thank__tex {
  color: #444444;
  text-align: center;
  margin-bottom: 20px;
  /* Subtitle/S3_Regular_24 */
  font-family: Outfit;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 28.8px */
}

.cookies__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  border-radius: 16px;
  background: #FFFFFF;
  position: fixed;
  top: 80vh;
  left: 0;
  right: 0;
  z-index: 4;
  -webkit-animation: 2s cookAnim;
          animation: 2s cookAnim;
  -webkit-box-shadow: -10px -5px 30px 0px rgba(141, 141, 141, 0.1);
          box-shadow: -10px -5px 30px 0px rgba(141, 141, 141, 0.1);
  padding: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 140px;
  background-color: #FFFFFF;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1000px) {
  .cookies__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0px;
    top: 60%;
  }
}
@media (max-width: 740px) {
  .cookies__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0px;
    top: 48%;
  }
}
@media (max-width: 440px) {
  .cookies__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0px;
    top: 35%;
  }
}
.cookies__text {
  color: #383838;
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  text-align: start;
}
.cookies__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 60px;
}
@media (max-width: 740px) {
  .cookies__btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 740px) {
  .cookies__btns {
    margin: 0;
    width: 100%;
  }
}
.cookies__btn {
  cursor: pointer;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
  border-radius: 16px;
  background: #FFFFFF;
  color: #954CED;
  border-radius: 16px;
  border: 2px solid #954CED;
  color: #000;
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 20px;
}
@media (max-width: 740px) {
  .cookies__btn {
    margin: 0;
  }
}
.cookies__btn-pink {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
  border-radius: 16px;
  background: #954CED;
  color: #FFFFFF;
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media (max-width: 740px) {
  .cookies__btn-pink {
    margin-top: 40px;
    margin-bottom: 20px;
  }
}
.cookies__close {
  cursor: pointer;
  position: absolute;
  bottom: 81px;
  margin-top: 0;
  right: 20px;
  left: auto;
  top: 20px;
  margin-bottom: auto;
}
@-webkit-keyframes cookAnim {
  0% {
    -webkit-transform: translateY(120%);
            transform: translateY(120%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@keyframes cookAnim {
  0% {
    -webkit-transform: translateY(120%);
            transform: translateY(120%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
.how {
  position: relative;
  overflow: hidden;
}
.how__container {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 640px) {
  .how__phone {
    max-width: 228px;
    margin: 0 auto;
  }
}

.carousel {
  position: absolute;
  overflow: hidden;
  z-index: -1;
  width: 1440px;
  height: 600px;
}

.carousel-container {
  width: 250%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.caruousel__row {
  margin-bottom: 68px;
  -webkit-animation: slide 4s linear infinite;
          animation: slide 4s linear infinite;
  animation-direction: reverse;
}

.caruousel__row:nth-child(2) {
  margin-bottom: 68px;
  -webkit-animation: slide 4s linear infinite;
          animation: slide 4s linear infinite;
}

.carousel__row:last-child {
  margin-bottom: 0;
}

.carousel__item {
  margin-right: 20px;
  color: #2FDBBC;
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  /* Title/T1_Bold_128 */
  font-family: Outfit;
  font-size: 128px;
  font-style: normal;
  font-weight: 700;
  line-height: 106%; /* 135.68px */
}

.carouesel__item-black {
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  color: yellow;
  /* Title/T1_Bold_128 */
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #444444;
  font-family: Outfit;
  font-size: 128px;
  font-style: normal;
  font-weight: 700;
  line-height: 106%; /* 135.68px */
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
.menu-list a {
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  color: #FFFFFF;
  outline: none;
  text-decoration-line: none;
}
@media (max-width: 440px) {
  .menu-list a {
    margin-left: 16px;
  }
}

.menu-list li {
  margin-bottom: 16px;
}

.menu-list {
  display: none;
  position: absolute;
  top: 50%;
  max-width: 100vh;
  margin: 0 auto;
  text-align: start;
}

.menu-list.open {
  display: block;
}

.menu {
  position: absolute;
  width: 100vw;
  height: 110vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #181818;
  z-index: -1;
}
@media (max-width: 440px) {
  .menu {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.menu.open {
  display: block;
  z-index: 3;
}
@media (min-width: 640px) {
  .menu.open {
    display: none;
  }
}
@media (max-width: 640px) {
  .menu.open {
    display: block;
  }
}

.menu__btn {
  width: 100%;
  margin-top: 125px;
}

.menu__close {
  display: none;
  width: 40px;
  height: 40px;
  position: relative;
  margin-left: auto;
  margin-top: 15px;
}

.menu-toggle {
  display: none;
  position: relative;
  width: 24px;
  height: 2px;
  background-color: #fff;
  margin: auto 0;
}
@media (max-width: 640px) {
  .menu-toggle {
    display: block;
    z-index: 2;
  }
}

.menu-toggle::after {
  content: "";
  position: absolute;
  top: 7px;
  width: 24px;
  left: 0;
  height: 2px;
  background-color: #fff;
}

.menu-toggle::before {
  content: "";
  position: absolute;
  top: -7px;
  width: 24px;
  left: 0;
  height: 2px;
  background-color: #fff;
}

body {
  font-family: Arial, sans-serif;
}

form {
  max-width: 300px;
  margin: 50px auto;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  padding: 10px;
  background-color: #ccc; /* серый цвет по умолчанию */
  color: #fff;
  border: none;
  cursor: pointer;
}

button.valid {
  background-color: #800080; /* фиолетовый цвет при заполненных полях */
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #181818;
  color: #FFFFFF;
  padding: 10px 0;
  text-align: center;
  margin: 0;
  z-index: 12;
  width: 100%;
}
.fixed__container {
  padding: 0 60px;
  z-index: 12;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 640px) {
  .fixed__container {
    padding: 0 16px;
  }
}