$grayscale0:#000;
$grayscale1:#181818;
$grayscale2:#444444;
$grayscale3:#B9B9B9;
$grayscale4:#CFCFCF;
$grayscale5:#E4E4E4;
$grayscale6:#F5F5F5;
$grayscale7:#FFFFFF;

$primary0:#7B31D4;
$primary1:#954CED;
$primary2:#A64CED;
$primary3:#BA8BF3;
$primary4:#954CED;

$secondary0:#2FDBBC;
$secondary1:#FFAA4C;

$additional0:#FF6C2D;
$additional1:#EC1211;
