
body{
    background-color: #181818;
    color: #ffffff;
 
    margin: 0 auto;
    text-align: center;
  }
  button{
    cursor: pointer;
  }

section{
    padding-bottom: 100px;
    border: none;
    outline: none;
    margin: 0;
}
.hide{
    display: none;
}
.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 60px;
}
.contact__btn{
    border: none;
    display: flex;
    padding: 16px 30px;
    justify-content: center;
    align-items: center;
    gap: 14px;
    border-radius: 16px;
    background: var(--Primary-01, #954ced);
    color: var(--Grayscale-07, #fff);

    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.incline__text{
    color: var(--Grayscale-07, #fff);
    text-align: center;

    font-family: Outfit;
    font-size: 36px;
    font-style: normal;
    
    font-weight: 600;
    line-height: normal;
    position: relative;
}

header{
    background: var(--Secondary-02, #FFAA4C);}

.navbar{
    color: #181818;
    background-color: none;
    &__list{
        display: flex;

    }
    &__item{
        color: var(--Grayscale-00, #181818);
        vertical-align:middle;
        text-align: center;
        cursor: pointer;

/* Body/B1_Medium_16 */
font-family: Outfit;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding: 9px 40px;
border-radius: 20px 20px 0px 0px;
    }
    &__item--active{

        background: var(--Grayscale-01, #181818);        text-align: center;

        color: #fff;
        background-color: #181818;
    }


}

.hero {

    &__logo {
            cursor: pointer;
    }
    &__top {
        display: flex;
        justify-content: space-between;
        margin-top: 7px;
        margin-bottom: 75px;
    
    }
    &__title {
        text-align: start;
        max-width: 671px;
        color: var(--Grayscale-07, #fff);
        font-feature-settings: "liga" off;
        font-family: Outfit;
        font-size: 96px;
        font-style: normal;
        font-weight: 700;
        line-height: 106%;
        margin-bottom: 20px;
    }
    &__text {
        max-width: 534px;
        text-align: start;
        color: var(--Grayscale-07, #fff);
        margin-bottom: 40px;
    
        font-family: Outfit;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 24px */
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
   
    }
    &__container{
        max-width: 1320px;
        margin: 0 auto;
    }
    &__content{
        margin-left: 50px;
    }
}

.about{
    &__text{
        z-index: 4;
    }
    &__container{
        max-width: 1440px;
        margin: 0 auto;
    }
    &__payment{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
   
    &__title{
        text-align: start;
        color: var(--Grayscale-07, #FFF);
font-feature-settings: 'liga' off;
margin-bottom: 80px;
font-family: Outfit;
font-size: 96px;
font-style: normal;
font-weight: 700;
line-height: 106%; 
    }
    &__item{
        max-width: 321px;
        text-align: left;
    }
    &__text{
        position: relative;
        color: var(--Grayscale-07, #FFF);
        text-align: center;
        
        /* Subtitle/S1_SemiBold_36 */
        font-family: Outfit;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        display: inline-block;
        z-index: 2;
    }
    &__text::after{
        z-index:-1;
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        width: 333.394px;
        height: 34.438px;
        transform: rotate(-1.693deg);
        flex-shrink: 0;
        border-radius: 30px;
        background: var(--Primary-02, #A64CED);
        margin-top: 3px;
        -webkit-text-stroke: 2px #e74c3c; /* Ширина и цвет обводки текста для веб-кит браузеров (Chrome, Safari) */
        
    
    }

    &__description{
        display: block;
        max-width: 397px;
        text-align: start;
        color: var(--Grayscale-07, #FFF);

/* Subtitle/S1_SemiBold_36 */
font-family: Outfit;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: normal;
    }
    &__item--title{
        color: var(--Grayscale-07, #FFF);
font-feature-settings: 'liga' off;
        text-align: start;
/* Title/T4_Bold_48 */
font-family: Outfit;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 106%; /* 50.88px */
margin-bottom: 20px;
    }
    &__item--img{
        margin-bottom: 10px;
        text-align: start;
        margin-left: 0;
    }
    &__item-text{
        text-align: start;

        color: var(--Grayscale-07, #FFF);

        /* Subtitle/S3_Regular_24 */
        font-family: Outfit;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 28.8px */
    }
    &__wrap{
        display: flex;
        justify-content: space-between;
        max-width: 1320px;
        padding:0 60px;
    }
    &__content{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

    }
    &__item:nth-child(-n+2){
        margin-bottom: 70px;
    }
    &__item:last-child{
        margin-bottom: 36px;
    }
    &__logo{
        position: relative;
        left:-60px;
    }
}
.how{
&__phone{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}  
}


.result{
    text-align: start;
    padding: 40px 0;
    background: var(--Primary-01, #954CED);
    &__items{
        display: flex;
        justify-content: center;
        align-content: center;
    }
    &__item{
        display: flex;
        flex-direction: column;
        margin-right: 100px;
    }
    &__item:last-child{
        margin-right: 0;
    }
    &__percent{
        color: var(--Grayscale-07, #FFF);
        font-feature-settings: 'liga' off;
        
        /* Title/T3_Bold_64 */
        font-family: Outfit;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: 106%; /* 67.84px */
        margin-bottom: 16px;
    }
    &__text{
        color: var(--Grayscale-07, #FFF);

/* Subtitle/S2_SemiBold_24 */
font-family: Outfit;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 120%; /* 28.8px */
    }
}

.why {
    padding-top: 100px;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    &__title {
    color: var(--Grayscale-07, #fff);
    font-feature-settings: "liga" off;
        margin-bottom: 20px;
    font-family: Outfit;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 106%;
}
&__description {
    color: var(--Grayscale-07, #fff);
    text-align: center;

    font-family: Outfit;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

&__incline {
    margin: 0 auto;
    width: 386.483px;
    height: 34.438px;
    transform: rotate(-1.631deg);
    flex-shrink: 0;
    border-radius: 30px;
    background: var(--Primary-02, #a64ced);
    
}

&__incline--text{
    position: relative;
    color: var(--Grayscale-07, #FFF);
    text-align: center;
    
    /* Subtitle/S1_SemiBold_36 */
    font-family: Outfit;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: inline-block;
    z-index: 2;
    margin-top: 5px;
    margin-bottom: 70px;

}
&__incline--text::after{
    
    z-index:-1;
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 386.483px;
    height: 34.438px;
    transform: rotate(-1.631deg);
    flex-shrink: 0;
    border-radius: 30px;
    background: var(--Primary-02, #A64CED);
    margin-top: 3px;
    -webkit-text-stroke: 2px #e74c3c; /* Ширина и цвет обводки текста для веб-кит браузеров (Chrome, Safari) */

    

}
&__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
&__item  {
    margin-bottom: 20px;
}
&__image{
    display: block;
    margin-right: 0;
}

}

.CTA{

    background-color: #fff;
        padding-top: 100px;
    &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 60px;
        border: 1px solid var(--Grayscale-04, #CFCFCF);
        color: #000;
        color: var(--Grayscale-00, #000);
text-align: center;
font-feature-settings: 'liga' off;

/* Title/T3_Bold_64 */
font-family: Outfit;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: 106%; /* 67.84px */

    }
    &__title{
        margin: 60px 0 40px;

    }
    &__btn{
        margin-bottom: 60px;
    }

}
.brand{
    background-color: #fff;
    &__content{
        display: flex;
    }
    &__media{
        display: flex;
        align-items: flex-start;


        padding: 45px 0;
    }
    &__img{
        margin-right: 40px;
    }
    &__img:nth-child(2n){
        align-self: flex-end;
    
    }
    &__img:last-child{
        margin-right: 0px;
    }
    &__text{
      text-align: start;
    }
    &__title{
        text-align: start;

        max-width: 822px;
        color: var(--Grayscale-00, #000);
font-feature-settings: 'liga' off;

/* Title/T2_Bold_96 */
font-family: Outfit;
font-size: 96px;
font-style: normal;
font-weight: 700;
line-height: 106%; /* 101.76px */
margin-bottom: 20px;
    }
    &__description{
        max-width: 537px;
        color: var(--Grayscale-00, #000);

/* Subtitle/S6_Regular_20 */
font-family: Outfit;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 24px */
    }
}


.footer{

&__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
&__btns{
    display: flex;
}
&__btn:not(:last-child){
    margin-right: 40px;
    height: 57px;
}
&__client:last-child{
    margin-left: 40px;
}
&__content{
    margin: 40px  0 30px;
}
}

.logos{
    background-color: #fff;
    &__items{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__img{
        height: 100%;
    }

}

.copyright{

    color: var(--Grayscale-03, #B9B9B9);

font-family: Outfit;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 140%; 
padding: 20px 0;
display: flex;
justify-content: space-between;
border-top: 2px solid #444;
&__item{
    margin-left: 20px;
    color: var(--Grayscale-03, #B9B9B9);
text-align: right;

/* Body/B6_Light_14_Underline */
font-family: Outfit;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 140%; /* 19.6px */
text-decoration-line: underline;
}
}

.modal{
    position: relative;
    &__form{
        margin: 0 auto;

    display: flex;
    width: 337px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background-color: #fff;
    color: black;
    padding: 40px;
    border-radius: 20px;
background: var(--Grayscale-07, #FFF);
    }
    &__label{
        color: var(--Grayscale-Black, #070707);

/* Body/B3_Medium_14 */
font-family: Outfit;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 22px; /* 157.143% */
    }
    &__input{
        border-radius: 14px;
        border: 1px solid var(--Grayscale-20, #F1F1F1);
        background: var(--Grayscale-07, #FFF);
display: flex;
height: 40px;
padding: 0px 16px;
align-items: center;
gap: 10px;
align-self: stretch;
    }
 &__close{
    margin-left: auto;

    cursor: pointer;
 }
 &__required{
    color: var(--Additional-01, #FF6C2D);

/* Body/B3_Medium_14 */
font-family: Outfit;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 22px;
 }
 &__text{
    color: var(--Grayscale-00, #000);

/* Body/B5_Light_14 */
font-family: Outfit;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 140%; /* 19.6px */
    text-align: start;
    margin: 20px 0;
 }
 &__link{
    color: var(--Primary-02, #A64CED);

/* Body/B6_Light_14_Underline */
font-family: Outfit;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 140%;
text-decoration-line: underline;
 }
 &__btn{
    border-radius: 16px;
    background: var(--Grayscale-03, #B9B9B9); }

}
.cookies{
    display: flex;
    border-radius: 16px;
background: var(--Grayscale-07, #FFF);
position: absolute;

box-shadow: -10px -5px 30px 0px rgba(141, 141, 141, 0.10);
    max-width: 1285px;
    padding: 30px;
    align-items: center;
    gap: 140px;
    background-color: #fff;
    justify-content: space-between;

    &__text{
        color: var(--Grayscale-Dark-grey, #383838);

/* Subtitle/S7_Light_20 */
font-family: Outfit;
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: 140%; /* 28px */
text-align: start;
    }
    &__btns{
        display: flex;
    }
    &__btn{
        cursor: pointer;
        border: none;
        display: flex;
        padding: 16px 30px;
        justify-content: center;
        align-items: center;
        gap: 14px;
        border-radius: 16px;
        background: var(--Primary-01, #fff );
        color: var(--Grayscale-07, #954ced);
        border-radius: 16px;
        border: 2px solid var(--Primary-01, #954CED); 
        color: var(--Grayscale-00, #000);
        font-family: Outfit;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;  
        margin-left: 20px;
    }
    &__close{
        cursor: pointer;
        width: 100%;
        height: 100%;
        margin-top: 0;
        margin-bottom: auto;
     }
 
 
}